<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://emitadttsi20201121102632.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3859d980-aa90-4eb1-88c4-19daf73d381f/resourcegroups/levanlin-pnp-resourcegroup/providers/Microsoft.Web/sites/EmitAdtTsi20201121102632</ResourceId>
    <UserName>$EmitAdtTsi20201121102632</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://emitadttsi20201121102632.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>