.hover-table:hover {
  background-color: #F8F8FF;
}

.model-detail {
  font-size: 15px;
}

.btn-border,
.btn-light:hover {
  background: transparent;
  color: black;
  text-decoration: none;
  border: 2px solid #bd2333;
} 
